APP_NAME="devHomolgacao"
APP_ENV=local
APP_KEY=base64:Hv+9Y3FTi/S3cQ1RTFxkl8wTA5wetEJ2/av1ifgOLy8=
APP_DEBUG=true
APP_URL=http://dev.mawapost.com/shop

SITE_URL=http://dev.mawapost.com/shop

LOG_CHANNEL=dev

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sys
DB_USERNAME=root
DB_PASSWORD='pedrinhox31'

DB2_CONNECTION=mysql
DB2_HOST=mawapost.cxatgftbro7i.us-east-2.rds.amazonaws.com
DB2_PORT=3306
DB2_DATABASE=safe-supplier
DB2_USERNAME=admin
DB2_PASSWORD=CXQWUKwvasXxgw28fTeCgAra

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@mg.safecheckout.app
MAIL_PASSWORD=71d99c907a59ea928c8e09a32c3b46a4-816b23ef-c6973cba
MAIL_ENCRYPTION=null
MAILGUN_DOMAIN=mg.safecheckout.app
MAILGUN_SECRET=038674fe804332ce18ce5a57618aed6b-816b23ef-695cbd1f

MAIL_FROM_ADDRESS=contato@mawapost.com
MAIL_FROM_NAME='Mawa Post'

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

AWS_URL=https://uploads-mawa.s3-sa-east-1.amazonaws.com/


DIGITALOCEAN_SPACES_KEY=DO006FGXUEQ6ZTYNF9YP
DIGITALOCEAN_SPACES_SECRET=IHic4XIOrtgNT7iY71xuQRPHJtfmOO+lqUpArNZEji8
DIGITALOCEAN_SPACES_ENDPOINT=https://sfo3.digitaloceanspaces.com 
DIGITALOCEAN_SPACES_REGION=SFO3
DIGITALOCEAN_SPACES_BUCKET=imagemprojectdrop
SPACEDIG =https://imagemprojectdrop.sfo3.cdn.digitaloceanspaces.com
PASTASP = "dev"


PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SUPPORT_WHATSAPP="55829988307167"
PAINELCOR = "bg-gradient-primary"
DADOSLOJISTA = 0
CATALOGCOR = "blue"
PARTICULAR = 1
ANO = "2022"
CORREIOS = 0
EXCELSKU = 1

